.p1{
    height: 200px;
    width: 200px;
    background-color: red;
}
#c1{
    height: 100px;
    width: 500px;
    background-color: rgb(4, 203, 50);
}
.p1>#c1{
    display: none;
}
.p1:hover +#c1{
    display: block;
}
