.navbar{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
header{
    position: sticky;
    top: 1px;
    z-index: 1;
}
#searchbar{
    display: flex;
    height: 50px;
    width: 700px;
    border: 1px solid black;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    margin-left: 300px;
}
#searchbar>div+div>i{
    margin-left: 50px;
    font-size: 25px;
    align-items: flex-end;
}
#searchbar>div>input{
    border: none;
    width: 550px;
    height: 40px;
    margin-left: 30px;
    font-size: 18px;
}
body{
    background-color: blak;
}
#bar{
    height: 45px;
    width: 45px;
    /* border: 1px solid black; */
    text-align:  center;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    background: transparent;
    cursor: pointer;
}
#bar:hover{
    background-color: #e1dede;
}
#bar>i{
    margin-top: 8px;
    font-size: 30px;
}
.bigbar{
    display: flex;
}
#logo{
    margin-left: 10px;
    margin-top: 10px;
}
#microphone{
    height: 60px;
    width: 60px;
    /* border: 1px solid black; */
    text-align:  center;
    border-radius: 100%;
    margin-left: 100px;
    margin: auto;
    margin-left: 20px;
    cursor: pointer;
}
#microphone:hover{
    background-color: #e1dede;
}
#mid{
    display: flex;
}
#microphone>i{
    font-size: 30px;
    margin-top: 15px;
    /* color: antiquewhite; */
}
#create{
    display: flex;
    height: 55px;
    width: 200px;
    /* border:1px solid black; */
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 200px;
}
#create:hover{
    cursor: pointer;
    background-color: #e1dede;
}
#create>span{
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* color: antiquewhite; */
    margin-left: 10px;
    margin-top: 12px;
}
#create+div>i{
    font-size: 30px;
    /* color: antiquewhite; */
    margin-top: 12px;
}
#create+div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
#create+div:hover{
    cursor: pointer;
    background-color: #e1dede;
}
#create>div>i{
    font-size: 25px;
    /* color: antiquewhite; */
    margin-top: 12px;
    margin-left: 40px;
}
#user{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    margin-right: 20px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
#user>i{
    font-size: 25px;
    margin-top: 10px;
}
#longdiv{
    height:900px;
    width: 300px;
    overflow: scroll;
    /* position: sticky;
    top: 1px;
    z-index: 1;
    border: 1px solid black; */
}
#longdiv>div>i{
    font-size: 25px;
    margin-right: 20px;
}
#longdiv>div{
    /* margin-top: 2px; */
    font-size: 25px;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    padding: 5px;
}
#longdiv>div:hover{
    cursor: pointer;
    background-color: #e1dede;
}
#longdiv>div+div>span{
    margin-left: 14px;
}
/* #bigdiv{
    display: flex;
} */
.bodydiv{
    display: flex;
}
#longnav{
    height: 70px;
    width: 1600px;
    /* border: 1px solid black; */
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(12,1fr); */
    overflow-x: scroll;
    overflow-y: hidden;
    position: sticky;
    top:1px;
}
#longnav>div{
    height:auto ;
    width: 300px;
    margin-left: 30px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color:#e1dede;
    padding: 10px;
    text-align: center;
}
#longnav>div>span{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
#longnav>div:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}
#longnav>div>span:hover{
    color: white;
}