.navbar{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
header{
    position: sticky;
    top: 1px;
    z-index: 1;
    /* background-color: aliceblue; */
}
#searchbar{
    display: flex;
    height: 50px;
    width: 700px;
    border: 1px solid black;
    border-radius: 30px;
    align-items: center;
    background-color: white;
    margin-top: 5px;
    margin-left: 300px;
}
#searchbar>div+div>i{
    margin-left: 50px;
    font-size: 25px;
    align-items: flex-end;
}
#searchbar>div>input{
    border: none;
    width: 550px;
    height: 40px;
    margin-left: 30px;
    font-size: 18px;
}
body{
    background-color: blak;
}
#bar{
    height: 45px;
    width: 45px;
    /* border: 1px solid black; */
    text-align:  center;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
    background: transparent;
    cursor: pointer;
}
#bar:hover{
    background-color: #e1dede;
}
#bar>i{
    margin-top: 8px;
    font-size: 30px;
}
.bigbar{
    display: flex;
}
#logo{
    margin-left: 10px;
    margin-top: 10px;
}
#microphone{
    height: 60px;
    width: 60px;
    /* border: 1px solid black; */
    text-align:  center;
    border-radius: 100%;
    margin-left: 100px;
    margin: auto;
    margin-left: 20px;
    cursor: pointer;
}
#microphone:hover{
    background-color: #e1dede;
}
#mid{
    display: flex;
}
#microphone>i{
    font-size: 30px;
    margin-top: 15px;
    /* color: antiquewhite; */
}
#create{
    display: flex;
    height: 55px;
    width: 200px;
    /* border:1px solid black; */
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 200px;
}
#create:hover{
    cursor: pointer;
    background-color: #e1dede;
}
#create>span{
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* color: antiquewhite; */
    margin-left: 10px;
    margin-top: 12px;
}
#create+div>i{
    font-size: 30px;
    /* color: antiquewhite; */
    margin-top: 12px;
}
#create+div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
#create+div:hover{
    cursor: pointer;
    background-color: #e1dede;
}
#create>div>i{
    font-size: 25px;
    /* color: antiquewhite; */
    margin-top: 12px;
    margin-left: 40px;
}
#user{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    margin-right: 20px;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
#user>i{
    font-size: 25px;
    margin-top: 10px;
}
#longdiv{
    height:900px;
    width: 500px;
    overflow: scroll;
    /* position: sticky;
    top: 1px;
    z-index: 1;
    border: 1px solid black; */
}
#longdiv>div>i{
    font-size: 25px;
    margin-right: 20px;
}
#longdiv>div{
    /* margin-top: 2px; */
    font-size: 25px;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    padding: 5px;
}
#longdiv>div:hover{
    cursor: pointer;
    background-color: #e1dede;
}
#longdiv>div+div>span{
    margin-left: 14px;
}
/* #bigdiv{
    display: flex;
} */
.bodydiv{
    display: flex;
}
#longnav{
    height: 90px;
    width: 1700px;
    /* border: 1px solid black; */
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(12,1fr); */
    overflow-x: scroll;
    overflow-y: hidden;
    position: sticky;
    top:1px;
    margin-top: 30px;
}
#longnav>div{
    height:50px ;
    width: 300px;
    margin-left: 30px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color:#e1dede;
    padding: 10px;
    text-align: center;
}
#longnav>div>span{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
}
#longnav>div:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}
#longnav>div>span:hover{
    color: white;
}

.videobox{
    height: 350px;
    width: 550px;
    gap: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.videobox>img{
    width: 100%;
    object-fit: cover;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#lowerbody{
    height: 900px;
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid black; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    overflow: scroll;
    gap: 20px;
    margin-left: 30px;
}
#lowerbody>div>h2{
    font-family: Arial, Helvetica, sans-serif;
}
#lowerbody>div>h3{
    color:gray;
}
#lowerbody>div>p{
    color: rgb(92, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
#lowerbodydiv:hover{
    cursor: pointer;
}
#lowerbody>div{
    border: none;
    /* margin: 30px; */
}
#circle{
    height: 50px;
    width: 50px;
    border-left: 3px solid rgb(93, 91, 91);
    border-right: 3px solid rgb(93, 91, 91);
    border-radius: 100%;
    margin: auto;
    animation: spin 2s linear infinite ;
    align-items: center;
    margin-top: 300px;
}
@keyframes spin {
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


/* Loader */
/* .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #100e0e;
} */
/* Loader Animation */
/* .loader {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(0, 0, 0, 0.2);
    border-right: 6px solid #3498db;
    border-left: 6px solid #3498db;
    /* border-radius: 50%; */
    /* animation: spin 1s linear infinite, glow 0.5s alternate-reverse infinite  ;
} */ 
/* Keyframes for rotation */
/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes glow {
    0% { box-shadow: 1px 0 5px rgba(52, 152, 219, 0.5); }
    100% { box-shadow: 0 0 30px rgba(52, 152, 219, 1); }
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
} */